{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'layout/styles/login.css' %}" rel="stylesheet" type="text/css" media="all">
<div class="login-page">
    <div class="form">
      <form method="POST" class="register-form">
      {% csrf_token %}
          {{ form.first_name }}
          {{ form.second_name }}
          {{ form.email }}
          {{ form.password1 }}
          {{ form.password2 }}
          {% for error in form.password2.errors %}
              <p>{{ error }}</p>
          {% endfor %}

          {% for error in form.email.errors %}
              <p>{{ error }}</p>
          {% endfor %}

          {% for error in validation_errors %}
              <p>{{ error }}</p>
          {% endfor %}
      <button>зарегистрироваться</button>
      <p class="message">Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
    </form>
    </div>
</div>
{% endblock %}